# Python virtual environments
venv/
ENV/
env/

# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.swn
